android/bin/
*.user
appcompat_v7/
.metadata/
.recommenders/
android/.settings/
android/gen/
android/libs/
android/.classpath
android/.project
android/proguard-project.txt
android/project.properties
build-*/
.DS_Store
*/.DS_Store
